@model Asp.net_Core_MVC_GestionMag.Models.Article

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomArticle" class="control-label"></label>
                <input asp-for="NomArticle" class="form-control" />
                <span asp-validation-for="NomArticle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionArticle" class="control-label"></label>
                <input asp-for="DescriptionArticle" class="form-control" />
                <span asp-validation-for="DescriptionArticle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtiteArticle" class="control-label"></label>
                <input asp-for="QtiteArticle" class="form-control" />
                <span asp-validation-for="QtiteArticle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

